body {
  font-family: Arial;
  max-width: 1000px;
  margin: auto;
  position: relative;
  padding: 20px;
  background: #b4e9d0
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
#formBlock {
  display: none;
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  background: #f9f9f9;
}
input {
  margin: 5px;
  padding: 5px;
}
button {
  padding: 5px 15px;
  cursor: pointer;
}
